.container-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    padding: 100px;
    border-radius: 10px;
    border: 2px solid black;
}